{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% if title %}
  <title>Moringa Tribune - {{title}}</title>
  {% else %}
  <title>Moringa Tribune</title>
  {% endif %}

  {% block styles %}
  {% bootstrap_css %}
  {% endblock styles %}
</head>
<body>
{% include "navbar.html" %}
  {% block content %} <h1 class="text-success">News for {{date|date:"1 d-F Y"}}</h1>{% endblock content %}
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
  {% endblock scripts %}
</body>
</html>